image: maven:3-jdk-8

pipelines:
  branches:
    master:
      - step:
          caches:
            - maven
          script:
            - mvn -B clean install
  custom:
    deploy-gateway-to-dev:
      - step:
          name: Build Docker Image
          caches:
            - maven
          script:
            - mvn -B clean install
            - cd htcc-gateway-service/
            - mvn -B package
            - docker build -t duyna5/htcc-gateway-service .
            - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
            - docker push duyna5/htcc-gateway-service:latest
      - parallel:
          - step:
              script:
                - mkdir -p ~/.ssh
                - cd ssh/
                - cat my_known_hosts >> ~/.ssh/known_hosts
                - (umask  077 ; echo $KEY_DEV_1 | base64 --decode > ~/.ssh/id_rsa)
                - scp -P 22 -r ../htcc-gateway-service/src/main/resources/ root@167.179.80.90:/home/htcc-api/htcc-gateway-service
                - ssh root@167.179.80.90 'cd /home/htcc-api/htcc-gateway-service/;./gateway.sh'
          - step:
              script:
                - mkdir -p ~/.ssh
                - cd ssh/
                - cat my_known_hosts >> ~/.ssh/known_hosts
                - (umask  077 ; echo $KEY_DEV_1 | base64 --decode > ~/.ssh/id_rsa)
                - scp -P 22 -r ../htcc-gateway-service/src/main/resources/ root@108.61.162.225:/home/htcc-api/htcc-gateway-service
                - ssh root@108.61.162.225 'cd /home/htcc-api/htcc-gateway-service/;./gateway.sh'

options:
  docker: true
