security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://${security.user.name}:${security.user.password}@eureka2:8761/eureka
  instance:
    hostname: eureka1

spring:
  datasource:
    schemaName: HTCC_Authentication
    options: useSSL=false&zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8
    server: 127.0.0.1:3306
    url: jdbc:mysql://${spring.datasource.server}/${spring.datasource.schemaName}?${spring.datasource.options}
    username: admin
    password: admin
    testWhileIdle:
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1
