spring:
  application:
    name: htcc-gateway-service
  profiles:
    active: ${env:local}
  zipkin:
    enabled: false
  jmx:
    enabled: false

eureka:
  dashboard:
    path: /dashboard
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}

logging:
  config: classpath:log4j2.properties

zuul:
  ignored-services: '*'
  prefix: /api
  routes:
    htcc-gateway-service:
      path: /gateway/**
      service-id: htcc-gateway-service
    htcc-employee-service:
      path: /employee/**
      service-id: htcc-employee-service

management:
  endpoints:
    enabled-by-default: false

service:
  debugMode: false
