################## Spring Config ##################
spring:
  application:
    name: htcc-gateway-service
  profiles:
    active: ${env:local}
  zipkin:
    enabled: false
  jmx:
    enabled: false
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

################## Eureka Config ##################
eureka:
  dashboard:
    path: /dashboard
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}

management:
  endpoints:
    enabled-by-default: false

################## Logging Config ##################
logging:
  config: classpath:log4j2.properties

################## Zuul Config ##################
zuul:
  sensitiveHeaders:
  ribbon:
    eager-load:
      enabled: true
  ignored-services: '*'
  prefix: /api
  routes:
    htcc-gateway-service:
      path: /gateway/**
      service-id: htcc-gateway-service
    htcc-employee-service:
      path: /employee/**
      service-id: htcc-employee-service

ribbon:
  eureka:
    enabled: true
  ReadTimeout: 30000
  ConnectTimeout: 30000

################## Service Config ##################
service:
  debugMode: false

security:
  jwt:
    key: "gmDJYOtCOvOgzuC5u3XViSq8pxf7BerA"
    expireSecond: 86400


################## Redis Config ##################
redis:
  delimiterAddress: ;
  scanInterval: 5000
  slaveConnectionMinimumIdleSize: 10
  slaveConnectionPoolSize: 100
  masterConnectionMinimumIdleSize: 10
  masterConnectionPoolSize: 100
  idleConnectionTimeout: 10000
  connectTimeout: 3000
  responseTimeout: 3000
  retryAttempts: 3
  retryInterval: 1000
  readMode: SLAVE
  kryoCodec: true
  masterAddress:

redis-buz:
  tokenFormat: TOKEN-%s-%s-%s # clientId-companyId-username
