spring:
  application:
    name: htcc-gateway-service
  profiles:
    active: ${env:production}
  zipkin:
    enabled: false

security:
  basic:
    enabled: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}

logging:
  config: classpath:log4j2.properties

zuul:
  ignored-services: '*'
  routes:
    htcc-employee-service:
      path: /employee/**
      service-id: htcc-employee-service
