security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://${security.user.name}:${security.user.password}@eureka1:8761/eureka
  instance:
    hostname: eureka2
