security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS
  hashKey: 6h5K8dapxfFdVKAS

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka, http://eureka2:8761/eureka
  instance:
    hostname: eureka2

spring:
  admin-datasource:
    schemaName: HTCC_Admin
    server: 10.25.96.3:3306
  company-datasource:
    schemaName: HTCC_Company
    server: 10.25.96.3:3306

service:
  internalServerIp: "10.25.96.3;10.25.96.4"

redis:
  useRedis: true
  password: abc@123
  useMaster: true
  masterAddress: 10.25.96.3:6379
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: true
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092,10.25.96.3:9092
