spring:
  application:
    name: htcc-gateway-service
  profiles:
    active: ${env:local}
  zipkin:
    enabled: false
  jmx:
    enabled: false
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

eureka:
  dashboard:
    path: /dashboard
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}

logging:
  config: classpath:log4j2.properties

zuul:
  ribbon:
    eager-load:
      enabled: true
  ignored-services: '*'
  prefix: /api
  routes:
    htcc-gateway-service:
      path: /gateway/**
      service-id: htcc-gateway-service
    htcc-employee-service:
      path: /employee/**
      service-id: htcc-employee-service

ribbon:
  eureka:
    enabled: true
  ReadTimeout: 30000
  ConnectTimeout: 30000

management:
  endpoints:
    enabled-by-default: false

service:
  debugMode: false

security:
  jwt:
    key: "gmDJYOtCOvOgzuC5u3XViSq8pxf7BerA"
    expireSecond: 86400
