security:
  bypassJWT: false
  user:
    name: admin
    password: admin

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka
  instance:
    hostname: eureka1
  numberRegistrySyncRetries: 0

spring:
  admin-datasource:
    schemaName: HTCC_Admin
    server: 127.0.0.1:3306
  company-datasource:
    schemaName: HTCC_Company
    server: 127.0.0.1:3306

service:
  debugMode: true

redis:
  useRedis: true
  password:
  useMaster: false
  masterAddress: 127.0.0.1:6379
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: true
  enableConsumer: false
  bootstrapAddress: 127.0.0.1:9092
  buz:
    apiLog:
      topicName: API-LOG
      groupId: API-LOG
