security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka2:8761/eureka, http://eureka1:8761/eureka
  instance:
    hostname: eureka1

spring:
  datasource:
    schemaName: HTCC_Authentication
    options: useSSL=false&zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8
    server: 167.179.80.90:3306
    url: jdbc:mysql://${spring.datasource.server}/${spring.datasource.schemaName}?${spring.datasource.options}
    username: admin
    password: admin
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1

redis:
  useRedis: true
  password: abc@123
  cluster: true
  nodeAddresses: 127.0.0.1:6379;10.25.96.4:6379
