security:
  user:
    name: admin
    password: admin

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka
  instance:
    hostname: eureka1
  numberRegistrySyncRetries: 0

spring:
  datasource:
    schemaName: HTCC_Authentication
    options: useSSL=false&zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8
    server: 127.0.0.1:3306
    url: jdbc:mysql://${spring.datasource.server}/${spring.datasource.schemaName}?${spring.datasource.options}
    username: ${security.user.name}
    password: ${security.user.password}
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1

service:
  debugMode: true

redis:
  useRedis: true
  password:
  useMaster: false
  nodeAddresses: 127.0.0.1:6379
