security:
  bypassJWT: false
  user:
    name: root
    password:

server:
  port: 8761

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka
  instance:
    hostname: eureka1
  numberRegistrySyncRetries: 0

spring:
  admin-datasource:
    schemaName: HTCC_Admin
    server: 127.0.0.1:3306
  company-datasource:
    schemaName: HTCC_Company
    server: 127.0.0.1:3306

service:
  debugMode: true

redis:
  useRedis: false
  password:
  useMaster: false
  masterAddress: 127.0.0.1:6379
  nodeAddresses: 127.0.0.1:6379

kafka:
  enabled: true
  bootstrapAddress: 127.0.0.1:9092
