server:
  port: 8200

security:
  user:
    name: admin
    password: admin

eureka:
  client:
    serviceUrl:
      defaultZone: http://${security.user.name}:${security.user.password}@eureka1:8761/eureka
  instance:
    hostname: eureka1
