server:
  port: 8200

security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS
  hashKey: ${security.user.password}

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka, http://eureka2:8761/eureka
  instance:
    hostname: eureka2

service:
  debugMode: false
  hazelcast:
    useHazelcast: true
    enableRest: false
    monitorLevel: "OFF"
    address: 10.25.96.4
    port: 5702

spring:
  datasource:
    schemaName: HTCC_Company
    server: 10.25.96.3:3306

redis:
  useRedis: true
  password: abc@123
  useMaster: true
  masterAddress: 10.25.96.3:6379
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: true
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092,10.25.96.3:9092
  buz:
    eventLoadIcon:
      topicName: EVENT-LOAD-ICON
      groupId: EVENT-LOAD-ICON-EMPLOYEE-PRODUCTION-2
