spring:
  application:
    name: htcc-employee-service
  profiles:
    active: ${env:local}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}

logging:
  config: classpath:log4j2.properties
