server:
  port: 8200

security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka, http://eureka2:8761/eureka
  instance:
    hostname: eureka2

service:
  debugMode: false
  allowDeleteCheckin: true
  hazelcast:
    useHazelcast: false
    enableRest: true
    monitorLevel: "OFF"
    address: 10.25.96.4
    port: 5702

spring:
  datasource:
    schemaName: HTCC_Company
    server: 10.25.96.3:3306

redis:
  useRedis: true
  password: abc@123
  useMaster: true
  masterAddress: 10.25.96.3:6379
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: true
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092,10.25.96.3:9092
  buz:
    checkinLog:
      topicName: CHECKIN-LOG
      groupId: CHECKIN-LOG
    checkoutLog:
      topicName: CHECKOUT-LOG
      groupId: CHECKOUT-LOG
    complaintLog:
      topicName: COMPLAINT-LOG
      groupId: COMPLAINT-LOG
    eventUpdateCompanyUser:
      topicName: EVENT-UPDATE-COMPANY-USER
      groupId: EVENT-UPDATE-COMPANY-USER
    eventUpdateEmployeeInfo:
      topicName: EVENT-UPDATE-EMPLOYEE-INFO
      groupId: EVENT-UPDATE-EMPLOYEE-INFO
