server:
  port: 8200

security:
  user:
    name: admin
    password: admin

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka
  instance:
    hostname: eureka1

service:
  debugMode: true
  allowDeleteCheckin: true
  hazelcast:
    useHazelcast: false
    enableRest: true
    monitorLevel: "OFF"
    address: 127.0.0.1
    port: 5702

spring:
  datasource:
    schemaName: HTCC_Company
    server: 127.0.0.1:3306

redis:
  useRedis: true
  password:
  useMaster: false
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: true
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092
