################## Spring Config ##################
spring:
  application:
    name: htcc-employee-service
  profiles:
    active: ${env:local}
  zipkin:
    enabled: false
  jmx:
    enabled: false
  main:
    allow-bean-definition-overriding: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  datasource:
    options: useSSL=false&zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8
    url: jdbc:mysql://${spring.datasource.server}/${spring.datasource.schemaName}?${spring.datasource.options}
    username: ${security.user.name}
    password: ${security.user.password}
    testWhileIdle: true
    testOnBorrow: true
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1

################## Eureka Config ##################
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}
    leaseExpirationDurationInSeconds: 45

################## Feign Config ##################
feign:
  hystrix:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 30000
        readTimeout: 30000

ribbon:
  eureka:
    enabled: true
  ReadTimeout: 30000
  ConnectTimeout: 30000
  ServerListRefreshInterval: 2000
  eager-load:
    enabled: true
    clients: htcc-employee-service, htcc-admin-service

htcc-log-service:
  ribbon:
    eureka:
      enabled: true
    MaxAutoRetries: 2
    MaxAutoRetriesNextServer: 2
    OkToRetryOnAllOperations: true
    ReadTimeout: 30000
    ConnectTimeout: 30000
    ServerListRefreshInterval: 2000

################## Logging Config ##################
logging:
  config: classpath:log4j2.properties

################## Service Config ##################
service:
  debugMode: false
  allowDeleteCheckin: false
  maxFileSize: 10000000

################## Redis Config ##################
redis:
  delimiterAddress: ;
  scanInterval: 5000
  slaveConnectionMinimumIdleSize: 10
  slaveConnectionPoolSize: 100
  masterConnectionMinimumIdleSize: 10
  masterConnectionPoolSize: 100
  idleConnectionTimeout: 10000
  connectTimeout: 10000
  responseTimeout: 10000
  retryAttempts: 3
  retryInterval: 1000
  readMode: SLAVE
  masterAddress:
