server:
  port: 8200

security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka, http://eureka2:8761/eureka
  instance:
    hostname: eureka2

service:
  debugMode: false
  allowDeleteCheckin: true
  hazelcast:
    useHazelcast: false
    enableRest: true
    monitorLevel: "OFF"
    address: 10.25.96.4
    port: 5702

spring:
  datasource:
    schemaName: HTCC_Company
    server: 10.25.96.3:3306

redis:
  useRedis: true
  password: abc@123
  useMaster: true
  masterAddress: 10.25.96.3:6379
  nodeAddresses: 127.0.0.1:6379
