server:
  port: 8204

security:
  user:
    name: admin
    password: admin

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka
  instance:
    hostname: eureka1

service:
  debugMode: true
  hazelcast:
    useHazelcast: false
    enableRest: true
    monitorLevel: "OFF"
    address: 127.0.0.1
    port: 5703

spring:
  datasource:
    schemaName: HTCC_Log
    server: 127.0.0.1:3306

redis:
  useRedis: true
  password:
  useMaster: false
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: false
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092
  buz:
    apiLog:
      topicName: API-LOG
      groupId: API-LOG
    checkInLog:
      topicName: CHECKIN-LOG
      groupId: CHECKIN-LOG
    checkOutLog:
      topicName: CHECKOUT-LOG
      groupId: CHECKOUT-LOG
    complaintLog:
      topicName: COMPLAINT-LOG
      groupId: COMPLAINT-LOG
