server:
  port: 8204

security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka, http://eureka2:8761/eureka
  instance:
    hostname: eureka2

service:
  debugMode: false
  hazelcast:
    useHazelcast: false
    enableRest: true
    monitorLevel: "OFF"
    address: 10.25.96.4
    port: 5703

spring:
  datasource:
    schemaName: HTCC_Log
    server: 10.25.96.3:3306

redis:
  useRedis: true
  password: abc@123
  useMaster: true
  masterAddress: 10.25.96.3:6379
  nodeAddresses: 127.0.0.1:6379

kafka:
  enableProducer: false
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092,10.25.96.3:9092
  buz:
    apiLog:
      topicName: API-LOG
      groupId: API-LOG
    checkInLog:
      topicName: CHECKIN-LOG
      groupId: CHECKIN-LOG
    checkOutLog:
      topicName: CHECKOUT-LOG
      groupId: CHECKOUT-LOG
    complaintLog:
      topicName: COMPLAINT-LOG
      groupId: COMPLAINT-LOG
