spring:
  application:
    name: htcc-log-service
  profiles:
    active: ${env:local}
  zipkin:
    enabled: false
  jmx:
    enabled: false
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  datasource:
    options: useSSL=false&zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8
    url: jdbc:mysql://${spring.datasource.server}/${spring.datasource.schemaName}?${spring.datasource.options}
    username: ${security.user.name}
    password: ${security.user.password}
    testWhileIdle: true
    testOnBorrow: true
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: ${spring.application.name}

logging:
  config: classpath:log4j2.properties

service:
  debugMode: false
