server:
  port: 8204

security:
  user:
    name: htcc
    password: 6h5K8dapxfFdVKAS

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka, http://eureka2:8761/eureka
  instance:
    hostname: eureka1

service:
  debugMode: false
  hazelcast:
    useHazelcast: false
    enableRest: true
    monitorLevel: "OFF"
    address: 10.25.96.3
    port: 5703

spring:
  datasource:
    schemaName: HTCC_Log
    server: 127.0.0.1:3306

kafka:
  enableProducer: false
  enableConsumer: true
  bootstrapAddress: 127.0.0.1:9092
  buz:
    apiLog:
      topicName: REQUEST-LOG
      groupId: REQUEST-LOG
