server:
  port: 8202

security:
  user:
    name: admin
    password: admin

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka1:8761/eureka
  instance:
    hostname: eureka1

service:
  hazelcast:
    useHazelcast: false

spring:
  datasource:
    schemaName: HTCC_Log
    options: useSSL=false&zeroDateTimeBehavior=convertToNull&useUnicode=yes&characterEncoding=UTF-8
    server: 127.0.0.1:3306
    url: jdbc:mysql://${spring.datasource.server}/${spring.datasource.schemaName}?${spring.datasource.options}
    username: root
    password:
    testWhileIdle:
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1

kafka:
  enabled: false
  bootstrapAddress: 127.0.0.1:9092
